@charset "utf-8";

nav {
    margin: 1em 0.5em -1em 1em;
    text-align: right;
    font-family: "Times New Roman", sans-serif;
    color:#FFFFFF;
}

table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    margin-left:auto;
    margin-right:auto
}
colgroup, tbody {
    border: solid medium;
}
td {
    border: solid thin;
    height: 4em; width: 4em;
    text-align: center;
    padding: 0;
}

.cell {
    font-size: 2em;
}

.guess:link, .guess:visited  {
    color: green;
    text-decoration: none;
}

.guess-box {
    padding-top: 30px;
    height: 205px;
    width: 300px;
    margin: 0 auto;
    background-color: lightblue;
}

.guess-box form {
    text-align: center;
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1 {
    text-align: center;
}