@charset "utf-8";

nav {
    margin: 1em 0.5em -1em 1em;
    text-align: right;
    font-family: "Times New Roman", sans-serif;
    color:#FFFFFF;
}

table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    margin-left:auto;
    margin-right:auto;
}
colgroup, tbody {
    border: solid medium;
}
td {
    border: solid thin;
    height: 4em; width: 4em;
    text-align: center;
    padding: 0;
}
